<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School</title>
</head>
<body>
    <nav class="navigation">
        {% extends "layout.html" %}
        {% block content %}
        <div class="school">
    </div>    
    </nav>
    <h1>Предмети, които учим в училище</h1>
<main>  
    <div class="normalSubjects">
        <h2>Общообразователни предмети</h2>
        <hr></hr>
        <p>Български език</p>
        <p>Математика</p>
        <p>Английски език</p>
        <p>Гражданско образование</p>
    </div>
   
    <div class="specialSubjects">
        <h2>Специални предмети</h2>
        <hr></hr>
        <p>Бази Данни</p>
        <p>Операционни системи</p>
        <p>Обектно-ориентирано програмиране</p>
        <p>Разработка на софтуер</p>
        <p>Компютърни мрежи</p>
        <p>Уеб Дизайн</p>
        <p>Математирески основи на програмирането</p>
    </div>
        
   
   
</main>      
    

    {% endblock %}


</body>
</html>